<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">

    <title>게시판 키우기</title>
    <style>
        pre {
            font-family: inherit;
            font-size: inherit;
            white-space: pre-wrap;
            word-break: break-all;
        }
        .text-muted-comment {
            color: #6c757d;
            font-size: 13px;
        }
        .my-comment {
            background-color: #007bff1a;
            border-radius: .3rem;
        }
        .btn-xs {
            padding: .25rem .25rem;
            font-size: .875rem;
            line-height: 1;
        }
        span[aria-hidden] {
            font-weight: 900;
        }
    </style>
</head>
<body>

<header class="container-fluid text-center px-0" style="background-color: #f5f5f5;">
    <div class="py-4">
        <a class="text-decoration-none text-dark" href="/"><h1 class="font-weight-bold">게시판 키우기</h1></a>
        {{#loginUser}} <!--로그인 기능 영역-->
            {{#loginUser.picture}}<img src="{{loginUser.picture}}" class="rounded-circle" width="50" height="50" alt="profile">{{/loginUser.picture}}
            {{^loginUser.picture}}<img src="/images/blank_profile.png" class="rounded-circle" width="50" height="50" alt="blank_profile">{{/loginUser.picture}}
            <div class="py-2"><span class="font-weight-bold">{{loginUser.name}}</span>님 반갑습니다!</div>
            <a href="/logout" class="btn btn-primary active btn-sm" role="button">로그아웃</a>
        {{/loginUser}}
        {{^loginUser}}
            <div class="py-2">방문해 주셔서 감사합니다.</div>
            <a href="/login" class="btn btn-primary">로그인</a>
        {{/loginUser}}
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <h4 class="text-light m-0 pr-4">게시판(Lv.19)</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{{#allPosts}} active{{/allPosts}}">
                    <a class="nav-link" href="/posts">전체글</a>
                </li>
                {{#boards}}
                <li class="nav-item{{#current}} active{{/current}}">
                    <a class="nav-link" href="/boards/{{id}}/posts">{{name}}</a>
                </li>
                {{/boards}}
            </ul>
        </div>
    </nav>
</header>