{{>layouts/header}}


<div class="container-fluid py-3">
    <form action="" method="get" id="form-criteria">
        <input type="hidden" name="page" value="{{cri.page}}">
        <input type="hidden" name="size" value="{{cri.size}}">
    </form>
    <form>
        <div class="form-group">
            <select class="form-control"{{#allPosts}} autofocus{{/allPosts}}{{^allPosts}} disabled{{/allPosts}}>
                {{#allPosts}}
                    <option value="">선택</option>
                    {{#loginUser.admin}}
                        {{#boards}}
                            <option value="{{id}}">{{name}}</option>
                        {{/boards}}
                    {{/loginUser.admin}}
                    {{^loginUser.admin}}
                        {{#boards}}
                            {{^createPermission}}
                                <option value="{{id}}">{{name}}</option>
                            {{/createPermission}}
                        {{/boards}}
                    {{/loginUser.admin}}
                {{/allPosts}}
                {{^allPosts}}
                    {{#boards}}
                        {{#current}}
                            <option value="{{id}}">{{name}}</option>
                        {{/current}}
                    {{/boards}}
                {{/allPosts}}
            </select>
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요"{{^allPosts}} autofocus{{/allPosts}}>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" rows="10" placeholder="내용을 입력하세요"></textarea>
        </div>
    </form>
    <div class="d-flex">
        <a href="../posts" role="button" class="posts btn btn-secondary mr-auto">취소</a>
        <button type="button" class="btn btn-success" id="btn-save">등록</button>
    </div>
</div>


{{>layouts/footer}}