{{>layouts/header}}


<div class="container-fluid py-3">
    <form action="" method="get" id="form-criteria">
        {{#cri.type}}<input type="hidden" name="type" value="{{cri.type}}">{{/cri.type}}
        {{#cri.keyword}}<input type="hidden" name="keyword" value="{{cri.keyword}}">{{/cri.keyword}}
        <input type="hidden" name="page" value="{{cri.page}}">
        <input type="hidden" name="size" value="{{cri.size}}">
    </form>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" value="{{post.boardName}}" readonly>
        </div>
        <div class="form-group">
            <label for="post-id">번호</label>
            <input type="text" class="form-control" id="post-id" value="{{post.id}}" readonly>
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" value="{{post.title}}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" rows="10">{{post.content}}</textarea>
        </div>
    </form>
    <div class="d-flex">
        <a href="../{{post.id}}" role="button" class="posts btn btn-secondary mr-auto">취소</a>
        <button type="button" class="btn btn-success" id="btn-update">완료</button>
    </div>
</div>


{{>layouts/footer}}