{{>layouts/header}}


<div class="container-fluid">
    <div class="row">
        <!-- 게시판(사이드바) -->
        <div class="col-sm-2 py-3" style="background-color:#e9ecef">
            <h3>게시판(Lv.9)</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">전체글 보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 py-3">
            <div class="d-flex mb-3">
                {{#post.isMyPost}}
                    <a href="/posts/{{post.id}}/edit" role="button" class="btn btn-primary mr-1">수정</a>
                    <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
                {{/post.isMyPost}}
                <a href="/" role="button" class="btn btn-secondary ml-auto">목록</a>
            </div>
            <!-- 번호 -->
            <input type="hidden" id="post-id" value="{{post.id}}">
            <!-- 제목 -->
            <h2>{{post.title}}</h2>
            <div class="d-flex">
                <!-- 작성자 프로필 사진 -->
                {{#post.profile}}
                    <img src="{{post.profile}}" class="rounded-circle mr-2" height="75" width="75" alt="profile_picture">
                {{/post.profile}}
                {{^post.profile}}
                    <img src="/images/blank_profile_picture.png" class="rounded-circle mr-2" height="75" width="75" alt="blank_profile">
                {{/post.profile}}
                <div>
                    <div class="font-weight-bold">
                        <!-- 작성자 이름 -->
                        {{post.writer}}
                    </div>
                    <div class="text-muted">
                        <span class="mr-2">
                            <!-- 작성일 -->
                            {{post.createdDate}}
                        </span>
                        <span>
                            <!-- 조회수 -->
                            조회 {{post.hit}}
                        </span>
                    </div>
                    <div class="text-muted">
                        <span class="mr-2">
                            <!-- 최종 수정일 -->
                            {{post.modifiedDate}}
                        </span>
                         수정됨
                    </div>
                </div>
            </div>
            <hr>
            <pre>{{post.content}}</pre>
            <hr>
            <div class="d-flex ">
                <a href="/" role="button" class="btn btn-secondary mr-auto">목록</a>
                <a href="#" role="button" class="btn btn-info">위로</a>
            </div>
        </div>
        <!-- /.col-sm-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->


{{>layouts/footer}}