{{>layouts/header}}


<div class="container-fluid">
    <div class="row">
        <!-- 게시판(사이드바) -->
        <div class="col-sm-2 py-3" style="background-color:#e9ecef">
            <h3>게시판(Lv.14)</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">전체글 보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 py-3">
            <div class="d-flex mb-3">
                {{#post.isMyPost}}
                    <a href="/posts/{{post.id}}/edit" role="button" class="btn btn-primary mr-1">수정</a>
                    <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
                {{/post.isMyPost}}
                <a href="/" role="button" class="btn btn-secondary ml-auto">목록</a>
            </div>
            <div class="post">
                <input type="hidden" id="post-id" value="{{post.id}}"> <!-- 번호 -->
                <div class="post-title">
                    <h2>{{post.title}}</h2> <!-- 제목 -->
                </div>
                <div class="d-flex post-info">
                    <div class="post-profile"> <!-- 작성자 프로필 사진 -->
                        {{#post.profile}}
                            <img src="{{post.profile}}" class="rounded-circle mr-2" height="75" width="75" alt="profile_picture">
                        {{/post.profile}}
                        {{^post.profile}}
                            <img src="/images/blank_profile_picture.png" class="rounded-circle mr-2" height="75" width="75" alt="blank_profile">
                        {{/post.profile}}
                    </div>
                    <div>
                        <div class="font-weight-bold">
                            {{post.writer}} <!-- 작성자 이름 -->
                        </div>
                        <div class="text-muted">
                            <span class="mr-2">
                                {{post.createdDate}} <!-- 작성일 -->
                            </span>
                        {{#post.isModified}} <!-- 수정 이력이 있으면 작성일 옆에 출력 -->
                            <span class="mr-2">
                                조회 {{post.hit}} <!-- 조회수 -->
                            </span>
                            <span>
                                댓글 {{post.commentCount}} <!-- 댓글수 -->
                            </span>
                        {{/post.isModified}}
                        </div>
                        <div class="text-muted">
                        {{^post.isModified}} <!-- 수정 이력이 없으면 작성일 아래 출력 -->
                            <span class="mr-2">
                                조회 {{post.hit}} <!-- 조회수 -->
                            </span>
                            <span>
                                댓글 {{post.commentCount}} <!-- 댓글수 -->
                            </span>
                        {{/post.isModified}}
                        {{#post.isModified}} <!-- 수정 이력이 있으면 수정일을 출력 -->
                            <span class="mr-2">
                                <!-- 최종 수정일 -->
                                {{post.modifiedDate}}
                            </span>
                            수정됨
                        {{/post.isModified}}
                        </div>
                    </div>
                </div>
                <hr>
                <pre>{{post.content}}</pre>
                <hr>
            </div>

            <!-- 댓글 관련 -->
            <div class="container-comments px-2">
                <h5><span class="badge badge-pill badge-dark py-2">댓글 {{post.commentCount}}</span></h5>
                <div class="comment-list">

                {{#post.comments}} <!-- 반복 시작 -->
                {{^parentId}} <!-- 댓글이면(부모 댓글이 없으면) -->
                    <div class="comment d-flex" data-id="{{id}}">
                    {{#isDeleted}} <!-- 삭제된 댓글(대댓글 존재)일 경우 -->
                        <div class="text-muted py-3 mb-2">삭제된 댓글입니다.</div>
                    {{/isDeleted}}
                {{/parentId}}
                {{#parentId}} <!-- 답글이면(부모 댓글이 있으면) -->
                    <div class="comment d-flex border-bottom mb-2" data-id="{{id}}" style="margin-left: 58px;">
                    {{#isDeleted}} <!-- 삭제된 댓글(대댓글 존재)일 경우 -->
                        <div class="text-muted py-2 mb-2">삭제된 댓글입니다.</div>
                    {{/isDeleted}}
                {{/parentId}}

                    {{^isDeleted}}
                        <div class="comment-profile">
                        {{#profile}}
                            <img src="{{profile}}" class="rounded-circle mr-2" height="50" width="50" alt="profile_picture">
                        {{/profile}}
                        {{^profile}}
                            <img src="/images/blank_profile_picture.png" class="rounded-circle mr-2" height="50" width="50" alt="blank_profile">
                        {{/profile}}
                        </div>
                        <div class="flex-grow-1">
                            <div class="comment-info row mx-0">
                                <div class="col-sm-auto px-0 mr-2">
                                    <span class="font-weight-bold comment-writer">{{writer}}</span> <!-- 작성자 이름 -->
                                    <span class="text-muted-comment">{{modifiedDate}}</span> <!-- 수정일 -->
                                    {{#isModified}}
                                    <span class="text-muted-comment">수정됨</span> <!-- 수정 여부 -->
                                    {{/isModified}}
                                </div>
                                <div class="comment-buttons col px-0"> <!-- 답글 버튼 + @ -->
                                    <button type="button" class="btn btn-outline-dark btn-sm btn-reply-comment">답글</button>
                                    {{#isMyComment}}
                                    <button type="button" class="btn btn-outline-primary btn-sm btn-edit-comment">수정</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm btn-delete-comment">삭제</button>
                                    {{/isMyComment}}
                                </div>
                            </div>
                            <div class="comment-body {{^parentId}}border-bottom mb-2{{/parentId}}">
                                <pre class="comment-content mb-2">{{content}}</pre>
                                <div class="edit-comment" style="display: none;">
                                    <textarea class="form-control input-update-comment" rows="3" placeholder="내용을 입력하세요"></textarea>
                                    <div class="d-flex py-2">
                                        <div class="custom-control custom-checkbox ml-auto mr-1 pt-1">
                                            <input class="custom-control-input update-is-secret" type="checkbox" id="{{id}}-is-secret">
                                            <label class="custom-control-label text-muted-comment" for="{{id}}-is-secret">비밀로 하기</label>
                                        </div>
                                        <button type="button" class="btn btn-success btn-sm btn-update-comment">완료</button>
                                    </div>
                                </div>
                                <div class="reply-comment" style="display: none;">
                                    <textarea class="form-control input-reply-comment" rows="3" placeholder="내용을 입력하세요"></textarea>
                                    <div class="d-flex py-2">
                                        <div class="custom-control custom-checkbox ml-auto mr-1 pt-1">
                                            <input class="custom-control-input reply-is-secret" type="checkbox" id="reply-{{id}}-is-secret">
                                            <label class="custom-control-label text-muted-comment" for="reply-{{id}}-is-secret">비밀로 하기</label>
                                        </div>
                                        <button type="button" class="btn btn-success btn-sm btn-save-reply-comment">등록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/isDeleted}}

                    </div> <!-- /.comment -->
                {{/post.comments}} <!-- 반복 끝 -->

                </div>
                <div class="paging-comments text-center py-3 bg-info">페이징 처리</div>
                <div class="input-comment">
                    <textarea class="form-control" id="input-comment-content" rows="3" placeholder="댓글을 남겨보세요"></textarea>
                    <div class="d-flex py-2">
                        <div class="custom-control custom-checkbox ml-auto mr-1 pt-1">
                            <input class="custom-control-input" type="checkbox" id="is-secret">
                            <label class="custom-control-label text-muted-comment" for="is-secret">비밀로 하기</label>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" id="btn-save-comment">등록</button>
                    </div>
                </div>
            </div>
            <!-- 댓글 관련 끝 -->
            <hr>
            <div class="d-flex">
                <a href="/" role="button" class="btn btn-secondary mr-auto">목록</a>
                <a href="#" role="button" class="btn btn-info">위로</a>
            </div>
        </div>
        <!-- /.col-sm-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->




<footer class="container-fluid text-center text-muted py-4 border-top">
    <p>&copy; 2021, 게시판 키우기 by 김근형</p>
</footer>


<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

<!--posts.js 추가-->
<script src="/js/app/posts.js"></script>
<!--comments.js 추가-->
<script src="/js/app/comments.js"></script>
<script>
    $(document).ready(function(){
//        comments.getList();
    });
</script>
</body>
</html>