{{>layouts/header}}


<!-- body -->
<div class="container-fluid">
    <div class="row">
        <!-- 게시판(사이드바) -->
        <div class="col-sm-2 py-3" style="background-color:#e9ecef">
            <h3>게시판(Lv.7)</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">전체글 보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
            </ul>
        </div>
        <!-- 게시글(주요 컨텐츠) -->
        <div class="col-sm-10 py-3">
            <a href="/posts/new" role="button" class="btn btn-primary mb-2">글쓰기</a>
            <!--목록 출력 영역-->
            <table class="table table-sm table-hover table-bordered text-center">
                <thead>
                <tr>
                    <th width="10%">번호</th>
                    <th width="40%">제목</th>
                    <th width="20%">작성자</th>
                    <th width="20%">작성일</th>
                    <th width="10%">조회</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#posts}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts/{{id}}">{{title}}</a></td>
                        <td>{{writer}}</td>
                        <td>{{createdDate}}</td>
                        <td>{{hit}}</td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /body -->


{{>layouts/footer}}